#all-page-container{
	height: 100%;
	margin: 0px;
}
#header{
	color: white;
	background-color: grey;
	margin: 0px;
	padding-left: 30px;
}
#products-label{
	margin-left: 30px;
}
#table{
	margin: 10px;
	margin-left: 30px;
	padding: 1px;
	border: solid black 1px;
	border-collapse: collapse;
}
#nav{
	background-color: black;
	color:  white;
	padding: 10px;
	margin: 0px;
	padding-left: 30px;

}
#footer{
	background-color: black;
	color:  white;
	padding: 10px;
	position: bottom;
}
#title{
	border-bottom: solid gray 1px;
	margin-top: 30px;
	margin-left: 30px;
}
#textarea{
	margin: 30px;
	width: 30%;
	/*display: none;*/
}
#button{
	color: black;
	background-color: blue;
	padding: 5px;
	margin: 30px;
	display: block;
}
tr{
	border: solid black 1px;
	border-collapse: collapse;
}
th{
	border: solid black 1px;
	border-collapse: collapse;
	padding: 5px;
}