*{
	font-family: Arial; 
}
body{
	margin: 0;
}
#section{
	margin: 0;
}
#header{
	color: white;
	background-color: rgb(154,154,154);
	margin: 0px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#products-label{
	margin-left: 30px;
	font-size: 20px;
}
#table{
	margin: 10px;
	margin-right: 0;
	margin-left: 30px;
	width: 60%;
	height: 130px;
	padding: 1px;
	padding-right: 0;
	border-collapse: collapse;
}
#nav{
	background-color: black;
	color:  white;
	padding: 10px;
	margin: 0px;
	padding-left: 30px;
}
#footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	padding-left: 30px;
	background-color: black;
	text-align: left;
	color: white;
}
#title{
	border-bottom: solid gray 1px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	margin-top: 30px;
	margin-left: 30px;
}
#textarea{
	margin: 10px;
	margin-left: 30px;
	width: 60%;
	height: 130px;
	resize: none;
	outline: none;
	border: 1px;
	border-style: solid;
	border-color: rgb(209,209,209);
	display: none;
}
#submit-button{
	color: white;
	background-color: #003996;
	border: none;
	padding: 10px;
	margin: 10px;
	margin-left:30px;
	display: block;
}
tr{
	border-collapse: collapse;
}
th{
	border-collapse: collapse;
	padding: 5px;
}
tr, th{
	border: 1px;
	border-color: rgb(209,209,209);
	border-style: solid;
}
th.subtype{
	text-align: left;
}
label.navitem{
	padding-right: 20px;
}